* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}

body{
    font-family: 'Outfit', sans-serif;
}
.header{
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: header;
    box-shadow: 0 2px 5px lightslategray;

}
header img{
    width: 120px;
    height: 101px;
}

.nav{
    width: 100%;
}

.footer__nav{
    width: 100%;
}

.footer__nav__lista{
    width: 100%;
    color: #4767cf;
    font-size: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.footer__nav__item{
    font-size: larger;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.footer__nav li a {
    text-decoration: none;
    color:#4767cf; 
}



.nav li a {
    text-decoration: none;
    color:#4767cf; 
}
ul {
    list-style-type: none;
}
.nav__lista{
    width: 100%;
    color: #4767cf;
    font-size: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.nav__item{
    font-size: larger;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}


#primeraseccion{
    display: flex;
    justify-content: center;
}
#primeraseccion img {
    max-width: 300px;
    margin-top: 25%;

}

#segundaseccion{
        min-height: 100vh;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-items: center;
        align-items: center;
        padding-bottom: 20%;
        padding-right: 10%;
    }

#segundaseccion h1{
    font-size: 50px;
    
    color: #4767cf;
    text-align: center;
}
#segundaseccion p{
text-align: center;
font-size: large;
padding-top: 20px;
}

#segundaseccion h2{
    font-size: 35px;
    color: #043783;
    text-align: center;
}



#grid{
    height: 700px;
    display: grid;
    grid-template-areas:"header header" 
                        "seccion1 seccion2" 
                        "seccion3 seccion3"
                        "footer footer"
                        
    ;
grid-template-columns: 50% auto;
grid-template-rows: 15% auto auto 15%;
}



#primeraseccion{
    grid-area: seccion1;
}

#segundaseccion{
    grid-area: seccion2;
}

#terceraseccion{
    grid-area: seccion3;
}

.footer{
    grid-area: footer;
}

/*inicio sección contacto */
.bodycontacto{
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;

}
.contacto__header {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 5px lightslategray;
    padding: 0;

}

.footer .nav__item{
    font-size: 13px;
}

.contenido {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.infoempresa {
    list-style: none;
    padding: 0;
}

.primertitulo {
    text-align: center;
    font-size: 3em;
    color: #1456ba;
}

.seccioncontacto {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.seccioncontacto > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #043783; 
}

.contact-form form button {
    background: #043783;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background: #000;
}

.contact-info h4, 
.contact-info ul, 
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}


.vaso{
    max-width: 300px;
    max-height: 300px;
    align-self: center;
}

.animacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 80%;
    padding: 1rem;
    
}
.animacion img {
   object-fit: contain;
   width: 500px;
   height: 500px;
margin-top: 3rem;
    animation-name: animaciones;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    }

    @keyframes animaciones {
from { 
    transform: translate(0) ;
    opacity: 0;
    transform: scale(1);
}
to {
    transform: translate(50px);
    opacity: 1;
    transform: scale(1.2);
}
    }

.transformarbidon img{
transition: transform 2s;
}
.transformarbidon:hover img{
transform: translate(10px) scale(1.2);
}

.footer{
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-area: footer;
        box-shadow: 0 2px 5px lightslategray;
        margin-top: 5%;
    
    }

    .canillas{
        max-width: 200px;
        max-height: 300px;
    }

    a:visited {
color: blueviolet;
    }


    #seccionproductos h1{
        color: #043783;
    }

    #headerproductos a{
        color: #043783;
        font-size: 20px;
        gap: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    #terceraseccion h2{
        font-size: 40px;
        color: #4767cf;
        text-align: center;
        padding-bottom: 10px;
    }

    #terceraseccion h3{
        font-size: 25px;
        text-align: center;
    }
    #terceraseccion h3 span {
        color: #1456ba;
    }

    #terceraseccion h3 a{ 
        text-decoration: none;
    }

    .header img{
        animation-name: headerimagen;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    @keyframes headerimagen {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }

    }

    .contacto__header img {
        animation-name: headerimagen;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }



/*Inicio media 1024*/

@media screen and (max-width: 1024px) { 
.header{
    flex-direction: row;
    flex-wrap: wrap;
}

.header img{
    display: none;
}
.nav__lista{
    flex-wrap: wrap;
    font-size: medium;
    gap: 10px;
}

    } 

#segundaseccion h1{
transition: transform 2s;    
}
#segundaseccion h1:hover{
    transform: translate(10px) scale(1.2);
}

#segundaseccion p{
    transition: transform 2s;    
    }
    #segundaseccion p:hover{
        transform: translate(10px) scale(1.2);
    }

    #segundaseccion h2{
        transition: transform 2s;    
        }
        #segundaseccion h2:hover{
            transform: translate(10px) scale(1.2);
        }

.header .nav__item {
    transition: transform 2s;
}
.header .nav__item:hover {
    transform: translate(10px) scale(1.2);
}

.footer .footer__nav__item {
    transition: transform 2s;
}

.footer .footer__nav__item:hover{
    transform: translate(10px) scale(1.2);
}

.primertitulo{
    transition: transform 2s;
}

.primertitulo:hover{
    transform: translate(10px) scale(1.2);
}
.contacto__header .nav__item{
    transition: transform 2s;
}
.contacto__header .nav__item:hover{
    transform: translate(10px) scale(1.2);
}

.footer .nav__item{
    transition: transform 2s;
}

.footer .nav__item:hover{
    transform: translate(10px) scale(1.2);
}

/*fin media 1024*/

/*Inicio media 600*/

@media screen and (max-width: 600px) {  
    
    
    .contacto__header img{
        display: none;
    }
    #grid{
        grid-template-areas:"header" 
                            "seccion1" 
                            "seccion2"
                            "seccion3"
                            "footer";
    grid-template-columns: auto;
    grid-template-rows: 15% auto auto auto 15%;
    }

    #segundaseccion{
        padding-bottom: 0;
        padding-right: 0;
    }

    .animacion {
        flex-wrap: wrap;
    }
    .contacto__header .nav__item{
        font-size: 12px;
    }

}

/*  Media de contacto mobile first */
    @media(min-width: 600px) {

        .contacto__header {
            height: 100px;
            width: 100%;
        }
        .seccioncontacto {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        .seccioncontacto > * {
            padding: 2em;
        }
        .contact-info h4,
        .contact-info ul,
        .contact-info p {
            text-align: left;
        }
        .footer .nav__item{
            font-size: larger;
        }
    
    }
/*fin media mobile first*/











